%h1 結果
#result
  .row
    .span6
      元画像
      .image.orig
        %img{:src => "/orig/#{ params[:sha1] }.jpg"}
    .span6
      ビーム
      .image.beam
        %img{:src => "/beam/#{ params[:sha1] }.jpg"}
  .row.permalink
    .caution
      生成されたデータは一時的なものであり、このページと画像は時間が経過するとアクセスできなくなります。ご注意ください。
    ビーム画像URL: 
    %a{:href => "/beam/#{ params[:sha1] }.jpg"} http://#{ request.host }/beam/#{ params[:sha1] }.jpg
%h2 投稿する
%form.submit_form.well
  .row
    .span3
      %a.share.twitter{:href => "#"}
        %img{:src => "/lib/authbuttons/img/twitter.png"}
        Twitterに投稿する
    .span3
      %a.share.facebook{:href => "#"}
        %img{:src => "/lib/authbuttons/img/facebook.png"}
        Facebookに投稿する
.modal.hide.fade#tw-modal
  %form{:method => "POST", :action => "/share/twitter"}
    .modal-header
      %h3 Twitterに投稿する
    .modal-body
      .control-group
        %textarea.twitter{:name => "text"}
        投稿時にハッシュタグとURLが自動的に付加されます。
    .modal-footer
      %span.charcount 80
      %a.btn{:href => "#", :"data-dismiss" => "modal"} Cancel
      %input{:type => "hidden", :name => "sha1", :value => params[:sha1]}
      %input.btn.btn-primary#submit{:type => "submit", :value => "Tweet"}
.modal.hide.fade#fb-modal
  %form{:method => "POST", :action => "/share/facebook"}
    .modal-header
      %h3 Facebookに投稿する
    .modal-body
      .control-group
        %textarea.facebook{:name => "text"}
    .modal-footer
      %span.charcount 300
      %a.btn{:href => "#", :"data-dismiss" => "modal"} Cancel
      %input{:type => "hidden", :name => "sha1", :value => params[:sha1]}
      %input.btn.btn-primary.submit{:type => "submit", :value => "Post"}
